
<link rel="stylesheet" type="text/css" href="Index.cshtml.css">

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <center><h1 class="titulo">EQUIPOS </h1></center>
  
</div>
<p > </p>

<!--Ubicacion de ft con columnas-->
          <div class="container">
            <div class="row">
 
              <div class="col-sm">
             
              <div class="card" style="width: 18rem;">
  <img src="camisetaArgentina.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Argentina</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="VerDetalleEquipo.cshtml" class="btn btn-primary"> Ver Equipo</a>
  </div>
</div>
              </div>
 
              <div class="col-sm">
                <!--ft 1 -->
              <div class="card" style="width: 18rem;">
  <img src="camisetaBrasil.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Brasil</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="VerDetalleEquipo.cshtml" class="btn btn-primary"> Ver Equipo</a>
  </div>
</div>
             
              </div>
 
              <div class="col-sm">
            <div class="card" style="width: 18rem;">
  <img src="camisetaFrancia.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Francia</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="VerDetalleEquipo.cshtml" class="btn btn-primary"> Ver Equipo</a>
  </div>
              </div>
 
            </div>
          </div>

             
 <!--Ubicacion de ft con columnas-->
          <div class="container">
            <div class="row">
 
              <div class="col-sm">
             
              <div class="card" style="width: 18rem;">
  <img src="camisetaAlemania.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Alemania</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="VerDetalleEquipo.cshtml" class="btn btn-primary"> Ver Equipo</a>
  </div>
</div>
              </div>
 
              <div class="col-sm">
                <!--ft 1 -->
              <div class="card" style="width: 18rem;">
  <img src="camisetaEspana.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">España</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="VerDetalleEquipo.cshtml" class="btn btn-primary"> Ver Equipo</a>
  </div>
</div>
             
    </div>
 
              <div class="col-sm">
            
 
            </div>
          </div>

          @foreach(Equipo IdEquipo in ViewBag.Lista){
     <tr>
        <td>@IdEquipo.IdEquipo</td>
        <td>@IdEquipo.Nombre</td>
        <td>@IdEquipo.Escudo</td>
        <td>@IdEquipo.Camiseta</td>
        <td>@IdEquipo.Continente</td>
        <td>@IdEquipo.CopasGanadas </td>
        <td>
            <a type="button" class="btn btn-danger" href='@Url.Action("VerDetalleEquipo", "Home")'>
                Ver Detalles del equipo
            </a>
        </td>


        <div class="card" style="width: 18rem;">
        <img src= @IdEquipo.Camiseta class="card-img-top">
        <div class="card-body">
        <h5 class="card-title">@IdEquipo.Nombre</h5>
        <p class="card-text"></p>
        <a href='@Url.Action("VerDetalleEquipo", "Home")' class="btn btn-primary"> Ver Equipo</a>
        </div>
        </div>

    </tr>
}
          
