
        <h1 class="nombreEquipo">@ViewBag.DetalleEquipo.Nombre</h1>
        <div class="imagenesEquipo"><img src=/@ViewBag.DetalleEquipo.Escudo width=50% height=auto></div>
        <h1 class="nombreEquipo" >Camiseta</h1>
        <div class="imagenesEquipo"></div><img src=/@ViewBag.DetalleEquipo.Camiseta width=50% height=auto></div>
        <h1>@ViewBag.DetalleEquipo.Continente</h1>
        <h1>@ViewBag.DetalleEquipo.CopasGanadas</h1>

        <a href='@Url.Action("AgregarJugador", "Home", new { IdEquipo = @ViewBag.DetalleEquipo.IdEquipo} )' class="btn btn-primary"> Crear Jugador</a>
        
        <table class="table table-striped">

<thead>
    <td>Id Jugador</td>
    <td>Nombre</td>
    <td>Foto</td>
    <td>Para curiosos</td>
</thead>


@foreach(Jugador p in @ViewBag.ListaJugadores){
    <tr>
        <td>@p.idJugador</td>
        <td>@p.Nombre</td>
        <td><img src="/@p.Foto" width="50%" height="30%" alt=""></td>
        
        <td>
            <!--le paso los id al controller-->
            
            <a type="button" class="btn btn-danger" href='@Url.Action("VerDetalleJugador", "Home", new { idJugador = @p.idJugador } )'>
                Ver Detalles
            </a>
        </td>
    </tr>
}

</table>
  
     