<h1 class="titulo">Detalles del jugador</h1>
        <h1> Nombre: @ViewBag.DatosJugador.Nombre</h1>
        <center><img class="fotojugador"src=/@ViewBag.DatosJugador.Foto ></center>
        <h1 class="datos">Fecha de naciemiento: @ViewBag.DatosJugador.FechaNacimiento</h1>
        <h1 class="datos">Equipo actual: @ViewBag.DatosJugador.EquipoActual</h1>
        <a href='@Url.Action("VerDetalleEquipo", "Home", new { IdEquipo = @ViewBag.DatosJugador.IdEquipo} )' class="btn btn-primary"> Volver</a>
            
      
       