<h1>Detalle Equipo</h1>
        <h1>@ViewBag.DetalleEquipo.Nombre</h1>
        <img src=/@ViewBag.DetalleEquipo.Escudo width=auto height=160px>
        <img src=/@ViewBag.DetalleEquipo.Camiseta width=auto height=160px>
        <h1>@ViewBag.DetalleEquipo.Continente</h1>
        <h1>@ViewBag.DetalleEquipo.CopasGanadas</h1>

        <a href='@Url.Action("AgregarJugador", new { IdEquipo = @ViewBag.DetalleEquipo.IdEquipo} )' class="btn btn-primary"> Crear Jugador</a>
        
       
 @foreach(Jugador Nombre in ViewBag.ListaJugadores){
         <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nombre Del Jugador</th>
      <th scope="col">Vea los detalles del Jugador</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>@Nombre.Nombre</td>
      
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href='@Url.Action("VerDetalleJugador", new { IdJugador = @ViewBag.DetalleJugador.IdJugador, IdEquipo = @ViewBag.DetalleEquipo.IdEquipo} )' class="btn btn-primary"> Ver Detalles</a></td>
      
      
    </tr>
    
  </tbody>
</table>
        

    }
     